.navbar {
    overflow: hidden;
    background-color: #333;
}

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-image: url(media/stargate.png);
    background-repeat:repeat-n;
	background-position: center;
    color: black;
}

div {
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(120, 150, 216);
    
}

/* Make the image fully responsive */
.carousel-inner img {
    width: 50%;
    height: 50%;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #307DC6;
    border-radius: 20px;
    padding: 20px;
}

label {
    padding-right: 10px;
}

